.container{

    width: 270px;
    height: 50vh;
    display: inline-block;
    opacity: 60%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.13);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(255, 255, 255, 0.72);
    text-align: center;
}